// COLORS
$colors: (
  light: #fff,
  smoke-light: #E6E9EF,
  light-dark: #535768,
  dark: #333333,
  light-gray: #C5C7D0,
  m-gray: #676879,
  main-blue: #6C6CFF,
  dark-blue: #595AD4,
  darkest-blue: #0F1048,
  lightest-blue: #F0F3ff,
  lighter-blue: #e5f4ff,
  light-blue: #b4b4ff,
  tag-blue: #0981fc,
  tab-blue: #5034ff,
) !default;

// GLOBAL VARS
$navHeight: 72px;

// BREAKPOINTS
$breakpoints: (
  'md':  768px,
  'lg':  1280px,
  'xl':  1600px
) !default;


